{% for article in articles %}
    <div class="">
        <h2>{{ article.title }} ({{ article.id }}) </h2>
        <p class="text-muted">{{ article.author }}</>
        <p>{{ article.content }}</p>
{% else %}
        <p>Il n'y a pas d'articles</p>
    </div>
{% endfor %}
