{% extends ('::base.html.twig') %}

{% block steelsheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() ~ '- HomePage' }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="page-header">
        <h1 id="timeline">Nouveaux Articles</h1>
    </div>
    {%  include('AppBundle:Article/Partial:list.html.twig') %}

{% endblock %}

