{% extends ('::base.html.twig') %}

{% block steelsheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() ~ '- HomePage' }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <p>Derniers articles</p>
    {%  include('AppBundle:Article/Partial:list.html.twig') %}

{% endblock %}

