{% extends('::base.html.twig') %}


{% block body %}
    {% block navbar %}
    {% endblock %}
    <h1>Listes d'articles</h1>
    {%  include('AppBundle:Article/Partial:list.html.twig') %}
{% endblock %}
