<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>tutorials</title>
</head>
<body>
<h1>Liste des tutos </strong></h1>
{% for tutorial in tutorials %}

    <h2>nom - {{ tutorial.name }}</h2>


{% endfor %}

</body>
</html>