{% extends ('::base.html.twig') %}

{% block steelsheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() ~ '- Tags' }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <h2>Nouvel Article</h2>
    {{ form(form) }}
{% endblock %}
